include n2xbt/controller/*.py
include n2xbt/controller/sdp/*.xml
include n2xbt/web/*.py
include n2xbt/web/templates/*.html
include n2xbt/web/static/js/*.js
include n2xbt/web/static/css/*.css
include n2xbt/web/static/*.svg
include n2xbt/web/static/*.png